#cart { width:100%; height:auto; /* background-color:#F4F4F4; */ }

#cart .cart_area { width:100%; height:auto; }
#cart .title { font-size:18px; }

#cart .cart_area .cart_wrap { width:760px; height:auto; margin:0 auto; border:1px solid lightgray; }
#cart .cart_area .cart_wrap table { width:100%;  }
#cart .cart_area .cart_wrap table thead tr { height:30px; }
#cart .cart_area .cart_wrap table thead, tfoot { background-color:#F4F4F4; }
#cart .cart_area .cart_wrap table tbody td { min-height:30px; }
#cart .cart_area .cart_wrap table tfoot td { padding:20px 20px 15px; text-align:left; }
#cart .cart_area .cart_wrap table tfoot div { font-size:14px; font-weight:normal; }
#cart .cart_area .cart_wrap table .image { width:80px; height:auto; background-size:100%; background-repeat:no-repeat; }
#cart .cart_area .cart_wrap table .image img { padding:20px 0 20px; width:100%; height:80px; }
#cart .cart_area .cart_wrap table .btn_style:last-child { margin-top:10px; }

#cart .btn_wrap { margin-top:20px; width:150px; margin: 20px auto 0 auto; }
