html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video
{
	margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;	
/* 	font-family:'NanumGothic', sans-serif; */
	font-size:16px; list-style:none;  vertical-align:middle;
}
a{
	text-decoration:none;
	color: black;
}
@font-face{
	font-family:'NanumGothic';
	src:url('../../resources/css/fonts/NanumGothic.woff') format("woff");
}
table{
	border:0;
	border-spacing:0; 
	border-collapse:collapse;
} 

table tbody{
/* 	border-top:2px solid lightgray; */
/* 	border-bottom:2px solid lightgray; */
} 

table tbody th,td{
	text-align:center;
	font-size:14px;
/* 	border:1px solid lightgray; */
/* 	border-left:0; */
}

table tbody td{
	border-right:0;
/* 	border-left:3px double lightgray; */
}

/*자주사용하는 공통*/
.left_wrap{float:left;}
.right_wrap{float:right;}
.clear{clear:both;float:none !important; }
.fl{float:left;}
.fr{float:right;}
.hide{display:none !important;}
.bold{font-weight: bold;}
.cp{cursor:pointer;}
.br{background-repeat:no-repeat;}
/*자주사용하는 공통 끝*/

a { text-decoration:none; }
body{ border:0;	margin:0; }


.btn_style { height:20px; line-height:20px; font-size:12px; text-align:center; color:#fff; background-color:#000; }

.w1200{ max-width:99%; min-width:99%; margin:auto; }
@media (max-width:767px) { .container { max-width:760px; min-width:760px; margin:auto; } }
/* Tablet – 768px~1024px 해상도에서 해석하는 코드 */
@media (min-width:768px) and (max-width:1024px){ .container { max-width:1024px; min-width:1024px; margin:auto; } }
/* Desktop – 1025px 이상 해상도에서 해석하는 코드 */
@media (min-width:1025px) { .container { max-width:1200px; min-width:1200px; margin:auto; } }
