/* header */
#header {
	width:100%;
	height:auto;
	border-bottom:1px solid;
}

#header .user_info_area {
	width:100%;
	height:120px;
}

#header .user_info_area .sns_wrap { width: 200px; height:100%; }
#header .user_info_area .sns_wrap .sns_wp { padding-top:20px; padding-left:20px; }
#header .user_info_area .sns_wrap .instagram_logo { margin-left:10px; }

#header .user_info_area .user_info_wrap { width: 500px; height:100%; }
#header .user_info_area .user_info_wrap .info_wp { padding-top:20px; padding-right:20px; }
#header .user_info_area .user_info_wrap .info_wp .wp { font-size:12px; margin-left:10px; }
#header .user_info_area .user_info_wrap .info_wp .user_info.wp {margin-right:40px;}

#header .main_logo_area {
	width:100%;
	height:100px;
	border: 1px solid;
}
#header .main_logo_area .main_logo {
	width:300px;
	height:100%;
	margin:0 auto;
	border:1px solid red;
}

#header .main_menu_area {
	width:100%;
	height:50px;
	margin-top:100px;
	padding-bottom:50px;
}

#header .main_menu_area .menu_wrap { 
	width:710px;
	height:100%;
	margin:0 auto;
	line-height:45px;
}
#header .main_menu_area .menu_wrap .menu {
	width:auto;
	height:100%;
	font-size:17px;
	color:lightgray;
	margin-left:40px;
}
#header .main_menu_area .menu_wrap .menu.home { margin-left:0; }
#header .main_menu_area .menu_wrap .menu.active {
	color:#000000;
	border-bottom:2px solid;
	font-weight:bold;
}

/* footer */
#footer {
	width:100%;
	height:180px;
	background-color:#000000;
}
#footer .footer_area { width:auto; height:auto; }
#footer .footer_wrap { margin-top:10px; }

#footer .footer_wrap .wp { font-size:16px; color:#ffffff; }
#footer .footer_wrap .store_info { margin-left:10px; }
#footer .footer_wrap .store_info div { margin-top:3px; font-size:12px; color:gray; }
#footer .footer_wrap .store_info .store.copyright { margin-top:7px; }
