#join { width:100%; height:auto; background-color:#F4F4F4; }

#join .join_area { width:100%; height:auto; }

#join .join_wrap {  }

#join .join_wrap table tr { height:50px; }

#join .join_wrap th { text-align:left; }
#join .join_wrap td { text-align:left; }
#join .join_wrap input { width:80%; }
#join .join_wrap .email { width:100%; }
#join .join_wrap .check_id { 
	width:80%;
	height:20px; 
	margin:0 auto; 
	font-size:14px; 
	background-color:#000000; 
	color:#ffffff; 
	text-align:center; 
	line-height:20px; 
	margin-left:30px; 
}
#join .join_wrap .at { text-align:center; }
#join .join_wrap table tr td.input_phone { width:80px; }
#join .join_wrap select { width:50px; background:transparent; line-height:34px; border:1px solid #ccc; } 
#join .join_wrap .input_phone_1,#join .join_wrap .input_phone_2 { width:55%; }
#join .join_wrap .bar { width:10px; text-align:center; margin-left:10px; }
#join .join_wrap .find_zipcode { 
	width:80px; 
	height:30px; 
	border:1px solid lightgray; 
	margin:0 auto; 
	font-size:14px; 
	text-align:center; 
	line-height:30px;
	color:gray; 
}

#join .join_wrap .btn_wrap { width: 250px; margin:40px auto 0 auto; font-size:15px;  }
#join .join_wrap .btn_wrap .wp { width: 100px; height: 50px; text-align:center; line-height:50px; color:#ffffff; background-color:#000000; }
#join .join_wrap .btn_wrap .wp.cancel { margin-left: 50px; }