#main { width:100%; height:auto; }

#main .main_area { width:100%; border:1px solid blue; }
#main .main_wrap { width:100%; height:100%; margin-top:70px; }
#main .main_wrap .title_wp {
	width:300px;
	height:50px;
	text-align:center;
	/* line-height:50px; */
	margin:0 auto; 
}
#main .main_wrap .title { 
	width:210px; 
	/* height:35px; */
	height:auto;
	border-bottom:3px solid; 
	margin:0 auto; 
	font-size:20px;
}
#main .main_collection .main_wrap .title { width:125px; }
#main .main_news .main_wrap .title { width:80px; }

#main .main_wrap .main_wp {
	width:100%;
	height:100%;
	border:1px solid;
}
#main .main_wp .contents {
	width:auto;
	height:auto;
	border:1px solid;
	margin:45px 30px 130px 30px;
}
#main .main_wp .contents .content {
	width:300px; 
	border:1px solid;
	margin-left:60px;
}
#main .main_wp .contents .content.no4, .no5, .no6{ margin-top:140px; }

#main .main_brand { height:650px; border:1px solid blue; }

#main .main_store { height:auto; }
#main .main_store .main_wp .contents .content { height:auto; }
#main .main_store .main_wp .contents .content .img { width:100%; height:190px; }
#main .main_store .main_wp .contents .content .cont_wp { width:auto; height:auto; margin:0 20px; }
#main .main_store .main_wp .contents .content .cont_wp div { text-align:center; }
#main .main_store .main_wp .contents .content .cont_wp .tag { padding-top:25px; padding-bottom:12px; }
#main .main_store .main_wp .contents .content .cont_wp .bike_name { padding-bottom:12px; }

#main .main_collection { height:auto; }
#main .main_collection .main_wrap .contents { margin:45px 0 130px; }
#main .main_collection .main_wp .contents .content {
	width:274px;
	height:auto;
	margin:0;
	margin-left:20px;
}
#main .main_collection .main_wp .contents .content .img {
	width:100%;
	height:100px;
	background-color:lightgray;
}
#main .main_collection .main_wp .contents .content.no2 .img{ height:180px; }
#main .main_collection .main_wp .contents .content.no3 .img{ height:200px; }
#main .main_collection .main_wp .contents .content.no4 .img{ height:150px; }
#main .main_collection .main_wp .contents .content.no5 .img{ height:150px; }
#main .main_collection .main_wp .contents .content.no7 .img{ height:130px; }
#main .main_collection .main_wp .contents .content.no8 .img{ height:180px; }
#main .main_collection .main_wp .contents .content.no5 { margin-top:20px; }
#main .main_collection .main_wp .contents .content.no6 { margin-top:20px; }
#main .main_collection .main_wp .contents .content.no7 { margin-top:20px; }
#main .main_collection .main_wp .contents .content.no8 { margin-top:20px; }
#main .main_collection .main_wp .contents .content .content_wp { margin:28px 18px 18px 18px; height:130px; }
#main .main_collection .main_wp .contents .content .title {
	width:100px;
	height:25px;
	font-size:14px;	
	text-align:left;
	margin:0;
	line-height:25px;
	border:0;
}
#main .main_collection .main_wp .contents .content .created_date {
	width:100px;
	height:10px;
	font-size:10px;
	margin-top:8px;
}	
#main .main_collection .main_wp .contents .content .desc {
	width:100px;
	height:40px;
	font-size:12px;
	margin-top:20px;
}	

#main .main_news { height:auto; }
#main .main_news .main_wp .contents .content { width:308px; height:308px; position:relative; }
#main .main_news .main_wp .contents .content.no1 { margin-left:56px; }
#main .main_news .main_wp .contents .content.no2 { margin-left:56px; }
#main .main_news .main_wp .contents .content.no3 { margin-left:56px; }
#main .main_news .main_wp .contents .content.no4 { margin-top:56px; margin-left:60px; }
#main .main_news .main_wp .contents .content.no5 { margin-top:56px; margin-left:60px; }
#main .main_news .main_wp .contents .content.no6 { margin-top:56px; margin-left:60px; }
#main .main_news .main_wp .contents .content .cont_wp { position:absolute; width:100%; height:130px; bottom:0; background-color:rgba(0,0,0,0.3); color:#ffffff; }
#main .main_news .main_wp .contents .content .cont_wp .wp { margin-left:24px; }
#main .main_news .main_wp .contents .content .cont_wp .title { height:25px; border:0; text-align:left; margin-top:20px; font-size:20px; }
#main .main_news .main_wp .contents .content .cont_wp .created_date { font-size:12px; color:lightgray; }
#main .main_news .main_wp .contents .content .cont_wp .desc { margin-top:15px; font-size:12px; }

#main .main_location { height:550px; }
#main #map { height:100%; }