#main { width:100%; height:auto; }

#main .main_area { width:100%; border:1px solid blue; }
#main .main_wrap { width:100%; height:100%; }
#main .main_wrap .title {
	width:300px;
	height:50px;
	font-size:17px;
	text-align:center;
	line-height:50px;
	margin:0 auto; 
	border-bottom:2px solid;
}

#main .main_brand { height:400px; border:1px solid blue; }

#main .main_store { height:650px; }

#main .main_collection { height:700px; }
#main .main_news { height:650px; }
#main .main_location { height:550px; }

#main #map { height:100%; }