#my_info { width:100%; height:auto; background-color:#F4F4F4; }
#my_info .side_menu_area { width:18%; height:auto; }
#my_info .side_menu_area .side_menu_wrap .wp { width:100%; height:30px; margin-top:20px; }
#my_info .side_menu_area .side_menu_wrap .wp:first-child { margin:0; }

#my_info .user_info_area, .user_deliver_area { width:80%; height:auto; }
#my_info .user_info_wrap {  }
#my_info .user_info_wrap table tr { height:50px; }
#my_info .user_info_wrap th { text-align:left; }
#my_info .user_info_wrap td { text-align:left; }
#my_info .user_info_wrap input { width:80%; }
#my_info .user_info_wrap .email { width:100%; }
#my_info .user_info_wrap .check_id { 
	width:80%;
	height:20px; 
	margin:0 auto; 
	font-size:14px; 
	background-color:#000000; 
	color:#ffffff; 
	text-align:center; 
	line-height:20px; 
	margin-left:30px; 
}
#my_info .user_info_wrap .at { text-align:center; }
#my_info .user_info_wrap table tr td.input_phone { width:80px; }
#my_info .user_info_wrap select { width:50px; background:transparent; line-height:34px; border:1px solid #ccc; } 
#my_info .user_info_wrap .input_phone_1,#my_info .user_info_wrap .input_phone_2 { width:55%; }
#my_info .user_info_wrap .bar { width:10px; text-align:center; margin-left:10px; }
#my_info .user_info_wrap .find_zipcode { 
	width:80px; 
	height:30px; 
	border:1px solid lightgray; 
	margin:0 auto; 
	font-size:14px; 
	text-align:center; 
	line-height:30px;
	color:gray; 
}
#my_info .user_info_wrap .btn_wrap { width: 250px; margin:40px auto 0 auto; font-size:15px;  }
#my_info .user_info_wrap .btn_wrap .wp { width: 100px; height: 50px; text-align:center; line-height:50px; color:#ffffff; background-color:#000000; }
#my_info .user_info_wrap .btn_wrap .wp.cancel { margin-left: 50px; }

#my_info .user_deliver_area {  }