#news { width:100%; height:auto; background-color:#F4F4F4; }

#news .news_area { width:100%; height:auto; }


#news .news_area .navi_wrap { width:100%; height:100px; }
#news .news_area .navi_wrap .wp { width:100%; height:40px; }
#news .news_area .navi_wrap .text { color:#C7C7C7; }
#news .news_area .navi_wrap .navi_wp { width:100%; line-height:40px; border-bottom:1px solid #C7C7C7; }
#news .news_area .navi_wrap .sort_wp { margin-top:20px; }

#news .write { 
	width:60px; 
	height:30px; 
	font-size:14px; 
	text-align:center;
	line-height:30px;
	color:#ffffff; 
	background-color:#000000; 
}

#news .news_area .news_wrap .img { width:100%; height:100%; background-size:100%; background-repeat:no-repeat; }
#news .news_area .news_wrap .news_wp { position:absolute; bottom:0; width:100%; height:60px; padding:10px 0 10px 0; background-color:rgba(0,0,0,0.7); }
#news .news_area .news_wrap .news_wp .wp { margin: 0 10px 0 10px; }
#news .news_area .news_wrap .news_wp .title { height:30px; line-height:30px; font-weight:bold; overflow:hidden; color:#ffffff; }
#news .news_area .news_wrap .news_wp .created_date { height:20px; line-height:20px; font-size:14px; color:#AAAAAA; }

#news .news_area .news_wrap.grid { margin: 0 auto; }
#news .news_area .news_wrap .grid-item {
	position:relative;
	float: left;
	width: 330px;
	height: 260px;
	margin-bottom:20px;
	border: 2px solid hsla(0, 0%, 0%, 0.5);
}
