#online_store { width:100%; height:auto; background-color:#F4F4F4; }

#online_store .side_menu_area { width:190px; height:auto; }
#online_store .side_menu_area .side_menu_wrap { margin-top:20px; }
#online_store .side_menu_area .side_menu_wrap .side_menu_wp.title { font-size:16px; font-weight:bold; }
#online_store .side_menu_area .side_menu_wrap .side_menu_wp .wp { width:100%; height:auto; font-size:16px; color:#ACACAC; margin:5px 0 0 20px; }



#online_store .online_store_area { width:80%; height:auto; margin-left:20px; }

#online_store .online_store_area .navi_wrap .wp { width:100%; height:40px; }
#online_store .online_store_area .navi_wrap .navi_wp { width:100%; line-height:40px; border-bottom:1px solid #C7C7C7; }
#online_store .online_store_area .navi_wrap .text { color:#C7C7C7; }
#online_store .online_store_area .navi_wrap .write {
    width: 60px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background-color: #000000;	
}
#online_store .online_store_area .navi_wrap .sort_wp { margin-top:20px; }

/* #online_store .online_store_area .store_wrap .img {  width:100%;  height:70%; flex:1; background-size:100%; background-repeat:no-repeat; } */
#online_store .online_store_area .store_wrap .img {  width:100%;  height:calc(100% - 80px); }
#online_store .online_store_area .store_wrap .img img { resize:both; float:center; height:100%; max-width:100%; }
#online_store .online_store_area .store_wrap .store_wp { width:100%; height:80px; }
#online_store .online_store_area .store_wrap .store_wp .wp { margin: 0 10px 0 10px; }
#online_store .online_store_area .store_wrap .store_wp .tag { height:30px; line-height:30px; }
#online_store .online_store_area .store_wrap .store_wp .wp_tag { width:25%; height:100%; background-repeat:no-repeat; background-position:50% 50%; }
#online_store .online_store_area .store_wrap .store_wp .tag_new { background-image:url("../images/icon_tag_new.png"); }
#online_store .online_store_area .store_wrap .store_wp .tag_hot { background-image:url("../images/icon_tag_hot.png"); }
#online_store .online_store_area .store_wrap .store_wp .tag_nearlysoldout { width:50%; background-image:url("../images/icon_tag_nearlysoldout.png"); background-size:95%; }

#online_store .online_store_area .store_wrap .store_wp .title { height:20px; line-height:20px; font-weight:bold; overflow:hidden; }
#online_store .online_store_area .store_wrap .store_wp .price { height:20px; line-height:20px; color:#6E6E6E; margin-top:5px; }


#online_store .online_store_area .store_wrap.grid { margin: 0 auto; }
#online_store .online_store_area .store_wrap .grid-item {
	width: 219px;
	height: 300px;
	display : flex;
	flex-direction:column;
	float: left;
	margin-bottom:20px;
	border: 0.5px solid lightgray;
	box-shadow: 1px 1px 5px lightgray;
	background-color:#fff;
}
#online_store .online_store_area .store_wrap .grid-item--height1 { height: 210px; }
#online_store .online_store_area .store_wrap .grid-item--height2 { height: 240px; }
#online_store .online_store_area .store_wrap .grid-item--height3 { height: 270px; }

