#storeDetailPage { width:100%; height:auto; }

#storeDetailPage .storeDetailPage_area { width:100%; height:auto; }

#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap { width:100%; height:auto;  }
#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap { width:845px; margin:0 auto; }
#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap .detailImgs_wp { width:350px; height:400px; border:1px solid lightgray; }
#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap .detailInfo_wp { width:450px; height:400px; margin-left:40px; }
#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap .detailInfo_wp .wp { margin-top:20px; }
#storeDetailPage .storeDetailPage_area .storeDetailInfo_wrap .detailInfo_wp .title_wp { height:120px; line-height:40px; display:table-caption; /* font:initial; */ font-size:18px; }

#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap { width:100%; height:auto; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .category { width:100%; height:25px; line-height:25px; font-size:16px; border-bottom:1px solid lightgray; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .head_wrap { margin-top:20px; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .head_wrap .wp { height:20px; line-height:20px; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .head_wrap .title { font-size:16px; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .head_wrap .created_date { margin-top:7px; font-size:10px; }
#storeDetailPage .storeDetailPage_area .storeDetailPage_wrap .content_wrap { height:auto; margin-top:20px; }
#storeDetailPage .storeDetailPage_area .btn_wp { margin-bottom:0; }
#storeDetailPage .storeDetailPage_area .btn_wp .btn { width:120px; height:30px; text-align:center; line-height:30px; color:#ffffff; background-color:#000000; margin-right:20px; }
hr { border:1px solid lightgray; }
#storeDetailPage .storeDetailPage_area .btn_wrap { width:250px; height:30px; margin:40px auto 0px auto; }
#storeDetailPage .storeDetailPage_area .btn_wrap .wp { width:100px; height:50px; text-align:center; line-height:50px; color:#ffffff; background-color:#000000; }
#storeDetailPage .storeDetailPage_area .btn_wrap .wp.deleteBtn { margin-left: 50px; }
