<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bs.models.UserVO" alias="UserVO"/>
		<typeAlias type="com.bs.models.ContentsVO" alias="ContentsVO"/>
		<typeAlias type="com.bs.models.ShopVO" alias="ShopVO"/>
		<typeAlias type="com.bs.models.PaymentVO" alias="PaymentVO"/>
		<typeAlias type="com.bs.models.CartVO" alias="CartVO"/>
		<typeAlias type="com.bs.models.PayHistVO" alias="PayHistVO"/>
		
	</typeAliases>
	
<!-- 	<mappers> -->
<!-- 		<mapper resource="kr/co/nethru/dao/sql/user-manager.xml" /> -->
<!-- 	</mappers> -->
</configuration>